body {
	font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
	margin: 15px;
}

.field {
	display: block;
	margin: 2px;
}

.field label {
	padding: 2px;
}

.field-with-error {
	color: red;
	font-weight: bolder;
}

.content-regex {
	width: 40em;
	height: 20em;
}